
p, li {
	color: white;
	font-size: 35px;
	font-family: Cabana;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;

}
.title-p {
	font-size: 70px;
    font-family: arial;
    font-weight: 900;
}

input {
	background-color: rgba(215, 189, 189, 0.11);
    border: none;
    border-radius: 35px;
    color: yellow;
    font-size: 25px;
    outline:none;
}

input:focus {
	border: 1px solid #4dccc1;
}
.plashka {
    background-color: rgba(215, 189, 189, 0.11);
    border-radius: 35px;
    width: 532px;
    height: 47px;
    top: 20px;
    z-index: -1; 
    position: absolute;
}

ul > li {
	background-color: rgba(215, 189, 189, 0.11);
	border-radius: 35px; 
	margin-top: 10px;
    width: 209px;
    list-style-type: none;
    margin-left: -29px;
    color: #c6c637;

}
.select-comp {
    color: #c6c637;

}

.btn-submit {
	    margin-top: 35px;
    background-color: rgba(215, 189, 189, 0.11);
    border-radius: 35px;
    /* width: 97px; */
    color: yellow;
    font-size: 23px;
    font-weight: 500;
}

.btn:focus {
	border: 1px solid #4dccc1;
}

#prof > li, .compony-logo {
    cursor: pointer;
}
.btn-submit {
    font-family: Duke;
}