@font-face {
    font-family: Cabana; /* Имя шрифта */
    src: url(../fonts/Cabana.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Docker_One; /* Имя шрифта */
    src: url(../fonts/Docker_One.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: DS-Crystal; /* Имя шрифта */
    src: url(../fonts/DS-Crystal.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Fontocide; /* Имя шрифта */
    src: url(../fonts/Fontocide.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Duke; /* Имя шрифта */
    src: url(../fonts/AA_Duke-Fill.ttf); /* Путь к файлу со шрифтом */
}


html,
body {
    background-repeat: no-repeat;
    height: 100%; /* Высота блока */
    width: 100%;
    background: url(../img/background.jpg) 100% 100% no-repeat; /* Добавляем фон */
    background-size: cover; /* Масштабируем фон */
}
@media (min-width: 1200px) {
    
    html,
    body {
        height: 100%; 
        width: 100%;
    }
}


@media (min-width: 992px) and (max-width: 1199px) {
    
    html,
    body {
        width: 100%;
    }

    .main {
        height: 100%;
        color: red;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    html,
    body {
        height: 100%; 
        width: 100%;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

    html,
    body {
        height: 100%; 
        width: 100%;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {

    html,
    body {
        height: 100%; 
        width: 100%;
    }
}

