#preloader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
}

.buttom {
    padding-top: 74px;
}

.priz {
    padding-top: 50px;
    padding-bottom: 50px;
}
.shapka {

    padding-top: 15px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 33px;
    font-weight: 900;
}

.p1, .p2 {
	font-family: Docker_One;
}

.p2 {
	margin-top: -20px;
    font-size: 67px;
    color: orange;
}

.p3 {
	font-family: Fontocide;
}

.time {
}

.time > div {
	color: white;
}

.count-date > span {
	border: 15px solid #b3e7b2;
    background-color: #b3e7b2;
    color: #553a3a;
    font-size: 32px;
    font-weight: 900;
    border-radius: 35px;
    font-family: Cabana;
}

.count-date > p {
	font-size: 25px;
	font-weight: 900;
	font-family: Cabana;
	font-size: 37px;
}

#dey > p {
	margin-left: 14px;
}
#hour > p {
	margin-left: 5px;
}

#minutes > p {
	margin-left: 6px;
}
#nstimer b {
    font-weight: 900;
    color: #f7fcfa;
    font-family: Cabana;
}








@media (min-width: 1200px) {
    .prizy div img {
        width: 500px;
    }

    body {
        color: red;
    }

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    html, body {
        
    }
    .polo {
        width: 300px;
    }
    .kubok {
        width: 200px;
    }
    .bilet {
        width: 200px;
    }


}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}











